

.VideoCallSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}
.StopVideoCallSection{
  display: none;
}

.StartVideoCallSection{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.448);
  position: absolute;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.StartVideoCallSection svg{
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.VideoCallBox {
  background-color: rgb(16, 11, 2);
  width: 70vw;
  height: 90vh;
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  transition: 3s ease-in-out;
  overflow: hidden;
  position: relative;

}
.VideoCallHeader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding: 1rem;
  z-index: 3;
}
.VideoCallHeader .logo {
  color: #fdd300;
}
.Timer span {
  background-color: #fdd300;
  padding: 0.3rem 0.5rem;
  color: black;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}
.VideoCallMainScreen {
  background-color: rgb(255, 252, 245);
  width: 67vw;
  height: 62vh;
  border-radius: 1rem;
  margin-top: 3.5rem;
  background-image: url("../../assets/vcbg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.StudentImgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.TeacherImgBox {
  background-image: url("../../assets/vcmain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 1rem;
  border: 3px solid white;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: .8s all ease-in-out;
}
.AfterStartTeacherImg {
  position: absolute;
  top: 4rem;
  right: 2rem;
  width: 13vw;
  height: 18vh;
}

.StudentCard {
  width: 15vw;
  height: 160px;
  border-radius: 1rem;
  border: 3px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: -180px;
  animation-name: StuCard;
  animation-duration: 0.3s;
  animation-iteration-count: 1; /* Run animation only once */
  animation-fill-mode: forwards; /* Keeps element at end state after animation */
  animation-play-state: play; /* Pause animation until triggered */
  transition: 0.4s ease-in-out;
}

@keyframes StuCard {
  0% {
    bottom: -180px;
  }
  100% {
    bottom: 0px;
  }
}

.AfterStartStudentImg {
  width: 10vw;
  height: 120px;
}

.StudentCard:nth-child(1) {
  background-image: url("../../assets/vc1.jpg");
  animation-delay: 0.5s;
}
.StudentCard:nth-child(2) {
  background-image: url("../../assets/vc3.jpg");
  animation-delay: 0.6s;
}
.StudentCard:nth-child(3) {
  background-image: url("../../assets/vc2.jpg");
  animation-delay: 0.7s;
}
.StudentCard:nth-child(4) {
  background-image: url("../../assets/vc4.jpg");
  animation-delay: 0.8s;
}

.FixedIcons {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 5;
}

.FixedIcon {
  background-color: #526044;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.FixedIconYellow {
  background-color: #f8d505;
}
