.VideoCallSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}
.StopVideoCallSection {
  display: none;
}

.StartVideoCallSection {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.448);
  position: absolute;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.StartVideoCallSection svg {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.VideoCallBox {
  background-color: rgb(16, 11, 2);
  width: 70vw;
  height: 90vh;
  max-height: 1200px;
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
  position: relative;
}
.VideoCallHeader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding: 1rem;
  z-index: 3;
}
.VideoCallHeader .logo {
  color: #fdd300;
}
.Timer span {
  background-color: #fdd300;
  padding: 0.3rem 0.5rem;
  color: black;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}
.VideoCallMainScreen {
  background: rgb(255, 252, 245);
  width: 67vw;
  height: 62vh;
  border-radius: 1rem;
  margin-top: 3.5rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.StudentImgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.TeacherImgBox {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 1rem;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.AfterStartTeacherImg {
  position: absolute;
  top: 4rem;
  right: 2rem;
  width: 13vw;
  height: 18vh;
}

.StudentCard {
  width: 13vw;
  height: 20vh;
  max-height: 220px;
  border-radius: 1.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: 0;
  animation-name: StuCard;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: play;
  transform: translateY(150%);
  transition: 0.4s ease;
}

@keyframes StuCard {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}

.AfterStartStudentImg {
  width: 10vw;
  height: 120px;
  margin: 0 auto;
  transition: 0.1s ease-in;
}

.StudentCard:nth-child(1) {
  animation-delay: 0.2s;
}
.StudentCard:nth-child(2) {
  animation-delay: 0.3s;
}
.StudentCard:nth-child(3) {
  animation-delay: 0.4s;
}
.StudentCard:nth-child(4) {
  animation-delay: 0.5s;
}

.AfterStartStudentImg:nth-child(1) {
  transition: 0.4s ease-in;
}
.AfterStartStudentImg:nth-child(2) {
  transition: 0.6s ease-in;
}
.AfterStartStudentImg:nth-child(3) {
  transition: 0.8s ease-in;
}
.AfterStartStudentImg:nth-child(4) {
  transition: 1s ease-in;
}

.FixedIcons {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 5;
}

.FixedIcon {
  background-color: #526044;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.FixedIconYellow {
  background-color: #f8d505;
}

/* ====================================== Responsiveness ===================================== */

@media screen and (width <= 1050px) {
  .VideoCallBox {
    width: 80vw;
  }

  .VideoCallMainScreen {
    width: 75vw;
    height: 62vh;
  }
  .AfterStartStudentImg {
    width: 15vw;
    height: 95px;
  }
  .AfterStartTeacherImg {
    height: 14vh;
  }
}
@media screen and (width <= 850px) {
  .VideoCallBox {
    width: 90vw;
  }
  .VideoCallHeader {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.8rem;
  }
  .VideoCallHeader .Timer {
    width: 50%;
    line-height: 1.5rem;
  }

  .FixedIcons {
    right: 1rem;
    gap: 0.5rem;
  }

  .FixedIcon {
    width: 30px;
    height: 30px;
  }
  .StudentImgBox {
    flex-wrap: wrap;
    width: 90vw;
  }

  .StartVideoCallSection svg {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
  .VideoCallMainScreen {
    width: 88vw;
    height: 62vh;
  }
  .VideoCallMainScreen {
    width: 88vw;
    height: 62vh;
  }

  .StudentCard {
    width: 18vw;
    height: 12vh;
  }
  .AfterStartStudentImg {
    width: 15vw;
    height: 95px;
  }
  .AfterStartTeacherImg {
    height: 14vh;
  }
}

@media screen and (width <= 550px) {
  .VideoCallBox {
    width: 95vw;
  }
  .VideoCallHeader {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.8rem;
  }
  .VideoCallHeader .Timer {
    width: 100%;
    line-height: 1.5rem;
  }

  .FixedIcons {
    right: 1.8rem;
    gap: 0.5rem;
  }

  .FixedIcon {
    width: 30px;
    height: 30px;
  }
  .StudentImgBox {
    flex-wrap: wrap;
    width: 90vw;
  }

  .StartVideoCallSection svg {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
  .VideoCallMainScreen {
    width: 88vw;
    height: calc(100% - 21vh);
    margin-top: 5rem;
  }

  .StudentCard {
    width: 18vw;
    height: 12vh;
  }
  .AfterStartStudentImg {
    width: 17vw;
    height: 70px;
  }
  .AfterStartTeacherImg {
    height: 12vh;
    width: 25vw;
    position: absolute;
    top: 5.5rem;
    right: 1.5rem;
  }
}

@media screen and (width <= 426px) {
  .VideoCallMainScreen {
    height: calc(100% - 29vh);
  }
}

@media screen and (width <= 400px) {
  .VideoCallBox {
    width: 95vw;
  }
  .VideoCallHeader {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.8rem;
  }
  .VideoCallHeader .Timer {
    width: 100%;
    line-height: 1.5rem;
  }

  .FixedIcons {
    right: 1.8rem;
    gap: 0.5rem;
  }

  .FixedIcon {
    width: 30px;
    height: 30px;
  }
  .StudentImgBox {
    flex-wrap: wrap;
    width: 90vw;
  }

  .StartVideoCallSection svg {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
  .VideoCallMainScreen {
    width: 88vw;
    height: calc(100% - 28vh);
    margin-top: 5rem;
  }

  .StudentCard {
    width: 18vw;
    height: 12vh;
  }
  .AfterStartStudentImg {
    width: 17vw;
    height: 70px;
  }
  .AfterStartTeacherImg {
    height: 12vh;
    width: 25vw;
    position: absolute;
    top: 5.5rem;
    right: 1.5rem;
  }
}

@media screen and (width <= 350px) {
  .FixedIcons {
    right: 1rem;
    gap: 0.5rem;
  }

  .VideoCallHeader .Timer {
    font-size: 0.7rem;
  }
  .VideoCallHeader .Timer span {
    font-size: 0.7rem;
  }

  .VideoCallMainScreen {
    margin-top: 4.5rem;
  }
  .AfterStartTeacherImg {
    top: 5rem;
    right: 1.2rem;
  }
}
